@charset "UTF-8";
/* CSS Document */

@media screen and  (max-width: 479px)   {	





#header{background:url(/images/include_file_images/banner_smallest.jpg); background-repeat:no-repeat; height:28px; background-position:center left;}
#headDOC{background:url(/images/include_file_images/commerce_smallest.png); background-repeat:no-repeat; height:28px}
#first_border{display:none;}	
#second_border{display:none;}	
#current{margin-left:0px; width:220px;}
#highlights{display:none;}
#newsbox_main{display:none;}
#home_currentbox{width:275px; margin:5px; margin-top:0px; margin-bottom:15px; height:250px; max-height:250px;}
#home_currentbox .more{display:none;}
#home_photoofweekbox{height:auto;max-height:310px; min-height:310px;}
#home_alumnibox{height:auto; max-height:310px; min-height:310px}
.main_box_inner ul, .main_box_sm_inner ul, .main_box_inner_sm_list {padding:0; margin:0; margin-left:4px;}
.main_box a, .main_box_sm a, .main_box2 a{font-size:12px;}
#home_blogsbox {display:block;margin-bottom:20px; max-height:250px; height:auto;}
#clear_box{display:none;}
a.more{float:none}
a.view_all{float:none;}
.text_box_photo .caption, .text_box_photo  br {display:none;}
.search_image{cursor:pointer;float:left; width:100px; margin-right:10px; height:75px;overflow:hidden; margin-bottom:10px; border:1px solid white}	
.search_image_blog{float:left; width:50px; max-height:37px;overflow:hidden}
.search_image_text{float:left; width: 150px;padding-left:15px;}
div #lessonsearch{width:250px;}
div #lessonresult{width:240px;}
div #lessonresult div {font-size:12px;}

div #lessonsearch .content .disclaimer{line-height:12px;width: 210px; font-size:10px;}
#selector{width:250px;}
#selector div.checkbox{width:110px;margin-right:10px; float:left;margin-top:3px;}

input[class="check"] {
    display:none;
}
input[class="check"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:0px 4px 0 0;
    vertical-align:middle;
    background:url(/images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
	
}
input[type="checkbox"]:checked + label span {
    background:url(/images/check_radio_sheet.png) -19px top no-repeat;
}
.image_frame{float:none;margin:0px;max-width:242px; }
p{font-size:13px}

.collage_holder{margin-left:0px;width:280px;}
.collage_box{width:280pxpx; padding-bottom:15px; float:none;  margin-right:15px;border-right:1px dotted #ccc}
.collage_image{float:none; width:260px; margin-left:0px;margin-right:15px;margin-bottom:7px;}
.collage_image_inner{max-height:200px; overflow:hidden;}
.collage_quote{float:none; width:260px;padding-right:15px}
.no-border{border:none;}


.spot_box{width:300px; padding-bottom:15px;}
.spot_image{float:left; width:75px; margin-left:0px;margin-right:15px; overflow:hidden}
.spot_desc {float:left; width:190px;}
.spot_bigImage{ float:none;padding:20px;width:200px; margin:auto;}
.border-width{width:250px}

.big_state_box{width:320px;}
.state_box{float:left; width:120px; overflow:hidden; margin-right:20px;}
#maine{clear:none;}
#newhampshire{clear:both;}
#rhodeisland{clear:none;}
#vermont{clear:none;}
#connecticut{clear:none;}
#massachussetts{clear:none}
.svg{float:none; margin-bottom:15px;margin-left:auto; margin-right:auto;}

.info_div{-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;
	box-shadow: 3px 3px 3px #999;width:200px; position:absolute; border:1px solid #ccc; z-index:1000; min-height:200px; margin-top:-385px; background-color:white; opacity:.95; margin-left:auto; margin-right:auto; display:none;}
.info_div_photo{width:200px; margin:auto; height:130px; overflow:hidden}

.info_div_info{font-size:13px; margin: 5px;width:200px;}
.info_div_info h6{margin-left:0px; font-size:14px; margin-bottom:0px;padding-bottom:0;}
.info_div_info  p{margin-top:3px;line-height:15px;}

.gallery #container{width:100%; margin-top:15px; margin-bottom:15px;margin-left:3px}
.gallery .tasa_photo{margin-right:5px;margin-bottom:5px;border:1px solid #ccc; width:138px;  overflow:hidden;min-height:80px;}



.main #image{display:none}
.main {width:280px;}
.main #intro_text{width:280px;}
.boxSpacer
{
		padding-top: 20px;
}


	

/** DEFAULT CONTENT FORMATTING **/
/** ALL FONT SIZES, INCLUDING MAIN, ARE BASED ON SIZE DEFINED HERE **/
	#contentArea {
	
	vertical-align: middle;
	font-size: 12px;
	}
	.caption {
	font-size: 9px;
	font-style: italic;
	color: #888888;
	margin-left: 0px;
	padding-top: 2px;
	text-decoration:none;
}
	a {
	font-size: 13px;
	text-decoration: none;
	color:#189E81;
}
	a:link {
	color: #189E81;
}
	a:visited {
	color: #0057a5;
}
	a:hover {
	color: #ffbf00;
	text-decoration: underline;
	cursor:pointer;
}
	
	a.home{color: #0057A5; text-decoration: none;}
	a:visited.home { color: #00a3e3;	}
	a:hover.home { color: #ffbf00; }
	
	h1 {
	font-size: 1.8em;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #0057A5;
	margin: 0px 0px 8px 0px;
	line-height: 1em;
	}
	
	h2 {
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.5px;
	color: #189E81;
	margin: 0px 0px 8px 0px;
	line-height: 1.2em;
	}
	h3
	{
	font-size:.85em;
	font-weight:bold;
	color:#0057a5;
	margin: 0px 0px 15px 0px;	
	line-height: 1.0em;
	font-size:12px;
	}
	
	h4
	{
	font-size: 14px;
	color:#189E81;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom:4px;
	padding:0px;
	}
	
	h6
	{
	font-size: 10px;
	color:#0057a5;
	margin: 2px;
	padding-bottom: 0px;
	padding-top: 0px;
	}
	
	h6.smaller
	{
	font-size: 12px;
	border-bottom: 1px #00A3E3 solid;
	color:#0057a5;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom:0px;
	padding:0px;
	margin: 0;
	}
	
	
	
	
/** 
 **/
#footer{
	font-size: 10px;
	color: #999;
	margin-bottom:10px;
	width:320px;
}

#footer h3{color:#999999; font-size:10px;}
#footer a {
	margin-left: 3px;
	margin-right: 3px;
	font-size:12px
}

#footer a:link {
	color: #189E81;
}
#footer a:visited {
	color: #189E81;
}
#footer a:hover {
	color: #ECBD00;
}
#footer div.footer_box{border-right:1px solid #ccc;margin-left:10px; float:left;padding-right:20px;padding-left:20px; width:100px;margin-top:10px}
#footer ul{margin-left:0px;}

#footer div.social_media_icons ul li{list-style-type:none; display:inline; margin-right:7px}


/** Header **/
	#noaaheader { 
		margin-bottom: 8px;
		width: inherit;
		display: block;
	}	
	
	#headTitle img { margin: 3px;  border: 0px; }
	#headTitle {
		display: block;
		position: relative;
		width: inherit;
		height: 46px;
		background: url('../images/include_file_images/commerce.png') no-repeat right top    ;
		vertical-align: middle;
		margin: 0px;
	}
	#headDOC {
		display: inline;
		position: absolute;
		top: 0px;
		right: 30px;
		padding: 0px;
		margin: 0px;
		width: 50px;
		height: 50px;
	}
	
	

	
	
	/** MID NAV **/
	#midBlock {
	top: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
	height: 21px;
	width: 100%;
	display: block;
	background-color: #EBFAF7;
	vertical-align: middle;
	padding-top: 5px;
	}

	/* SEARCH */
	#searchBox {
		position: absolute;
		right: 0px;
		 top: 0px; 
	}
	
	#searchBox2 { 
	 	float:right;
	 	right: 0px;
		top: 0px;
		 
	}
	
	#searchForm { margin: 3px;  }
	#query-field {
	font-family: tahoma;
	font-size: 8pt;
	width:10em;
	margin-bottom: 2px;
	}
	
	#query-field2 {
	font-family: tahoma;
	font-size: 8pt;
	width:85px;
	margin-bottom: 2px;
	}
	
	#searchFieldSet {
	border: 0px;
	padding: 0px;
	margin: 0px 1px 0px 0px;
	}
	.searchOption {
	
	font-size: .7em;
	color: #0057A5;
	margin-left: 0px;
	margin-right: 6px;
	font-weight: bold;
	}
	
	.searchOption2 {
	
	font-size: 10px;
	color: #0057A5;
	margin-left: 0px;
	margin-right: 6px;
	font-weight: bold;
	}
	
	.searchOption3 {
	
	font-size: 1em;
	color: #0057A5;
	margin-left: 0px;
	margin-right: 6px;
	font-weight: bold;
	}
	#localSearchOption, #globalSearchOption { vertical-align:top; }
	
	
	
	/* MIDDLE-LEFT ITEMS */
	#midNav * { vertical-align: middle; }
	#midNavElements a:link { color: #ffffff; font-size:25px;}
	#midNavElements a:visited { color: #ffffff; }
	#midNavElements a:hover { color:#ECBD00; }
	#midNavElements {
	list-style-type: none;
	display: block;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	border:1px solid #cccccc;
	width:75%;
	background-color:#189E81;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	display:none;
	
	
	
	
	}
	#midNavElements li {
	
	font-weight: bold;
	color: #0057A5;
	font-size: 20px;
	padding-left: 7px;
	padding-top:7px;
	padding-bottom:7px;
	margin-right: 7px;
	display: inline;
	}
	#midNavElements li a { font-size: 10px !important; }




/** GENERAL DOCUMENT STYLES **/
	
	
	body {
	overflow-x:hidden;

	margin: auto;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*background:url(/images/bg1.jpg) center left;*/
	background:url(../images/bg7.png);
	background-repeat:repeat;
	
	color:#333333




	
	}
	
	#contain {
	width: 320px;
	/* min-height: 38em; */
	margin: 0px auto 5px auto;
	padding: 0px 0px 2px 0px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	margin-bottom:15px;
	opacity:1

	
	}
	.sectionTitle {
	display: block;
	margin-bottom: 2px;
	}
	.asterisk{
	color:#ffbf00;
	}
	
	/** TOP NAVIGATION **/
	#topNav {
	background: url('../images/top_nav_stamp.png') no-repeat right center;
	background-color: #AAAAAA;
	border-bottom: 1px solid #888888;
	height: 21px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;
	display: block;
	padding: 0px;
	text-align: center;		
	}
	#header.dotGovSub #topNav { background-image: none; } 
	#header.dotGovSub #topNavStamp {
		display: none;
	}
	#topNav a:link , #topNav a:visited { color: #FFFFFF; text-decoration: none;}
	#topNav a:hover { color: #AEDBF4; }
	#topNavElements {
		display: inline;
		padding-left: 0px;
		margin-left: 10px;
	}
	#topNavElements li {
		list-style: none;
		
		font-weight: bold;
		color: #ffffff;
		font-size: 10px;
		margin-right: 9px;
		display: inline;
	}
	#topNavElements li a { font-size: 11px !important; }
	#topNavStamp {
		display: inline;
		position: absolute;
		right: 0px;
		padding: 0px;
		margin: 0px;
		width: 100px;
		height: 22px;
	}
	
	.spacer
	{
	margin-left: 10px;
	
	}
	
	.spacer2
	{
	margin-left:10px;
	}
	
	a.button
	{
	color:#0057A5;
	text-decoration:none;
	font-size: 13px;
	font-weight: bold;
	}
	
	a.button:hover
	{
		color:#ffbf00;
	}
img 
{
	border:1px #ccc solid;
}

.topicheading
{
font-weight: bold;
	font-size:16px;
	color: #0057A5;
	
}

img.frame
{
	margin-bottom:15px;
	margin-top: 5px;
}

img.icon
{
	border: none;
}




/* rollover.css */

/* CREDITS (or apologies!) TO:  http://www.tanfa.co.uk/
 with minor mods by Ed Mullen, 2005, 2006, 2007
*/







#hl_column
{
	float: left;
	width: 268px;
	padding-left: 10px;
}
.hl_text
{
border: 1px solid #0057A5; border-top: none; overflow: hidden; float: left; width: 269px; margin-bottom: 11px;
}

#gallery
{
	width: 580px;
	height: 350px;
	float:left;
}


#top_right

{
	float:left;
	width:240px;
	height: 270px;
	background: #EBFAF7;
	border: 1px solid #cccccc;
	margin: 18px;
	margin-bottom: 7px;
	margin-top: 7px;
	padding-top: 8px;
	display:none;
}

#top_right h6{margin-left:15px}
#top_right ul{margin:0px}
#top_right li.soc_media_links{list-style-type:none; display:inline; margin-right:3px;margin-left:0px;padding:0px;}

.green{ color:#189E81}

#top_right ul li{
	padding-left:5px;
	padding-right:10px;
	padding-bottom:4px;
	color:#189E81;
	font-size:13px;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;

}

#top_right li:hover
{
color: #ECBD00;	
}

#top_right li.diamond
{
	font-size:12px;
	color:#ECBD00;
	
}

#top_right li:hover.diamond
{
	color: #ECBD00;
}



#top_right li:hover
{
	
	color: #ECBD00}
#top_right li a
{
	padding-left: 7px;
	font-size: 13px;
	color: #0057a5;
}

#top_right li a:hover
{
	color: #ECBD00;
	text-decoration:underline;
}
.box
{
	/*border: 1px solid #ccc;*/
	margin-top: 5px;
	background-color:#F0F8FF;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}


.box ul
{
	list-style-type:none;
	padding:10px;
	margin: 0px;
}
.box ul li
{
	list-style-type:none;
	margin-bottom: 5px;
	font-weight: bold;
	background: url(http://beta.w1.education.noaa.gov/education_web/images/feature_stories_bullet.png) no-repeat;
}
.box ul a
{
	text-decoration:none;
}








#mainbox
{
	width: 570px;
	float:left;
	margin-bottom: 10px;
	background-color:#F0F8FF;
}


#breadcrumbs
{
	margin-top:5px;
	font-size:10px;
	color:#0057A5;
	
	margin-left: 10px;
	margin-right: 15px;
	
}
#breadcrumbs a
{
	text-decoration:none;
	padding-bottom: 2px;
}


/*Forms*/

select
{
	width:140px;
}


input.ghost { color: #CCC; }
input.normal { color: #000; }


/*JQuery*/

.clear {
	clear:both
}


h5
{
	font-size: 11.5px;
	color: #0057a5;
	font-weight: bold;
	padding: 0px;
	margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
}
h5 a
{
font-size: 13px;
color: #0057a5;
text-decoration:none;
font-weight: bold;
}



/*Main Nav*/
#mainBlock
{
	border-bottom: 1px solid white;
	height:30px;
	background-color: #189E81;
	display:none;
	
	
}




#mainNavElements
{
list-style-type:none;
display: inline;

}
#mainNavElements:hover
{
	list-style-type:none;
	padding: 0px;
}

#mainNavElements ul
{
	padding:0px;
	margin:0px;
	display: inline;
}

#mainNavElements li 
{
font-family: Arial;
font-size: 9px;
display: inline;

margin-top:0px;
margin-bottom:0px;
font-weight:bold;
}

#mainNavElements li:hover
{
	background: #0057a5;
	display: inline;
	
}

#mainNavElements li a:focus
{
	background: #0057a5;
	display: inline;
	margin-top: 1px;
	margin-bottom: 1px;
}


#mainNavElements a:link
{
color:#fff;	
}

#mainNavElements a:visited
{
color:#fff;	
}
/*********Dropdowns************/


.mainitems{
margin:0px;
padding:0px;
}

















/*********************************ROLLOVER NAV***************************************************/

.blue
{
	color:#0057a5;
}
ul {
	padding:0px;
	margin:0px;
	padding-bottom: 0px;
	padding-left: 15px;
}

li {
	list-style-type:none;
}
.nav{margin:0px;}
.nav a{color:white; text-decoration:none;} 
.nav a:hover{text-decoration:underline;color: #Aedbf4;}
li.dropdown{
	z-index:10000000;
	margin-top:2px;
	font-size: 12px;
	float:left;
	display:inline;
	list-style-type:none;
	padding-top:8px;
	height:24px;	
}
div.none{padding-top:8px;}
div.block{display:block;padding:0px;padding-top:8px;z-index:10000000;position:absolute;}
div.none p{display:none;padding:0px; margin:0px; }
.navigation{
	z-index:10000000;
	display:block;
	padding:0px;
	margin:0px;
	margin-bottom:3px;
	margin-left:0px;
	margin-top: 3px;
}
a.navitems{
	color:white;
	font-size:12px;
	font-weight: normal;
	text-decoration:none;
	margin-left: 7px;
}
a.navitems:hover{
	color:#ECBD00;
	text-decoration:underline;
	font-weight:bold;
	}
a.mainnavitems{margin-left:5px; color:white; text-decoration:none;padding-top:8px;}
a.mainnavitems:hover{
	color:#DDF1EC;
	}
div.top{
	width:160px;
	position:absolute;
	background:#0057a5;
	top: 0px;
}
.spacer{margin-left: 7px; color:white;}
.border_gray{
	height: 1px;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px
}
.border{
	border-top: 1px solid #ccc;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	height: 2px;
	margin-bottom: 20px;
}
.border2{
	border-bottom: 2px solid #189E81;
	margin-left: 4px;
	margin-right: 10px;
	border-top: 1px solid #0057a5;
	height: 2px;
	margin-bottom: 10px;
}
.border_nav
{
	padding:15px;
	padding-top: 0px;
	border-bottom: 1px solid #189E81;
	padding-bottom: 0px;
}

.border_vertical{
	border-left: 1px solid #ccc;
	margin-left:15px;
	margin-right:15px;
	margin-top:0px;
	margin-bottom:15px;
	width: 2px;
	float: left;
	height: 1050px;
}

#feeddiv
{
	
}
/* SLIDESHOW
/* ---------------------------------------------------- */
#slideshow {
	width: 500px;
	overflow: hidden;
	float: left;
	z-index: 7;
	margin-top: -1px;
	border: 1px solid #ccc;
	border-top: 0px;
	margin-right: 0px;
	border-left: 0;
	height: 282px;
	background: #189E81;
	display:none;
}
#slideshow-alt{display:block;margin:auto; width:610px;}
#slideshow-alt .slideshow-square{display:block; float:left; width:193px; height:148px;border:1px solid #ccc;margin-right:4px; margin-left:4px;margin-bottom:8px}

.slideshow{cursor:pointer}

#slideshow ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height:350px;
	color: white;
	
}
#slideshow li
{
display:none;
}



#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}            

/* ---------------------------------------------------- */
/* SLIDESHOW > SLIDES
/* ---------------------------------------------------- */
#slideshow .slides {
}



/* ---------------------------------------------------- */
/* SLIDESHOW > NAVIGATION
/* ---------------------------------------------------- */
#slides-nav {
	z-index: 7;
	height: 20px;
	width: 500px;
	font-size: 15px;
	
	/*position:absolute;	position: relative;*/
	position:absolute;
	top:371px;
	display:none;
}

 #slides-nav li {
	background:#189E81;
	font-size: 11px;
	color:#189E81;
	width:24px;
	height: 18px;
	float:left;
	padding-top: 4px;
	text-align:center;
	border: 1px solid #7bbeb0;
	margin-top: 2px;
	display:inline;
}

 #slides-nav li.active {
	background:#ECBD00;
	font-size: 13px;
	color: #fff;
	width:26px;
	height: 22px;
	float:left;
	margin-top: -4px;
	border:none;
	display: inline;
	margin-bottom: 0px;
	padding-top: 11px;
	}
	
 #slides-nav li.active a {
color:#189e81;
}	


#slides-nav li a {
	color:#fff;
	margin-top:8px;
	display:inline;
	text-decoration:none;
	margin-left: 4px;
	margin-right: 4px;
}

#slides-nav li a.active {
	color:#189E81;
	text-decoration:none;
	margin-left: 4px;
	margin-right: 4px;
}

.js #slideshow #slides-nav li, .js #slideshow2.slides-nav li a
{
background:#0057a5;
background-repeat:no-repeat;

color:white;
float:left;
}
.js #slideshow #slides-nav li.on,
.js #slideshow #slides-nav li.on a {
background: #ffbf00;
background-repeat:no-repeat;
color:#0057a5;
text-decoration:none;
display:inline;


}

.text_box
{
	background:#189E81;
	padding: 0px;
	border-top: 1px solid #FFF8DF;
	border-bottom: 1px solid #999;
	opacity: .95;
	min-height: 80px;
	top: 0px;
	width: 500px;
	position: absolute;
	margin-top: 320px;

}

.text_box_media
{
	background:#189E81;
	padding: 0px;
	border-top: 1px solid #FFF8DF;
	border-bottom: 1px solid #999;
	opacity: .95;
	height: 95px;
	top: 0px;
	width: 485px;
	position: absolute;
	margin-top: 421px;
	

}


.text_box p
{
	width: 500px;
	font-size: 10px;
	opacity: 1.0;
	color: white;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 3px;
	padding-left: 10px;
	margin-top:0px;
}

.text_box_media p
{
	width: 500px;
	font-size: 12px;
	opacity: 1.0;
	color: white;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 3px;
	padding-left: 10px;
	margin-top:0px;
	
}


.text_box ul {
width: 2880px;


}
.text_box_media ul {
width: 2880px;


}

.text_box li{
	width: 580px;
	float: left;
	height: 350px;
	
}

.text_box_media li{
	width: 580px;
	float: left;
	height: 350px;
	
}

.text_box h2  {
	margin-top: 0;
	color: #FFF8DF;
	width: 590px;
	font-size: 17px;
	font-weight: normal;
	padding-bottom: 0px;
	margin-bottom: 0px;
	opacity: 1.0;
	background: none;
	padding: 5px;
	padding-left: 15px;
	padding-bottom:0px;
}

.text_box_media h2  {
	margin-top: 0;
	color: #FFF8DF;
	width: 590px;
	font-size: 25px;
	font-weight: normal;
	padding-bottom: 0px;
	margin-bottom: 0px;
	opacity: 1.0;
	background: none;
	padding: 5px;
	padding-left: 15px;
	padding-bottom:0px;
}

ul.educator
{
	font-size:12px;
	list-style-type:none;
	padding: 0;
}

ul.educator li
{
line-height:20px;	
}



.major{
	width:620px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-left: 15px;
	margin-top: 10px;float:left;
}
.button_caption{
	font-weight:bold;
	color: #189E81;
	font-size:13px;
}

.quick_links{border-bottom:1px solid #ccc; margin-bottom:20px; padding-bottom:20px; }

.left_column{
	float:left;
	width: 620px;
	margin-right: 20px;
	margin-left: 20px;
}

.left_column .column1{
	float:left;
	width: 190px;
	margin-right: 20px;
	padding-bottom: 10px;
	margin-top:10px;
}

.left_column .column2{
	float: left;
	width: 395px;
	border-left: 1px solid #ccc;
	margin-top:10px;
	width: 370px;
	float:left;
	padding-left: 20px;
	min-height: 670px;
}
.blue_header{color:#00a3e3}
.right_column{float:left; width:185px; margin-left: 0px; border-left: 1px solid #ccc; padding-left:20px; min-height:863px}
.right_column h6{
}
.right_column .list{margin:5px 5px 10px 5px; border-bottom:1px solid #ccc; }
.right_column li{padding:0px 0px 10px 0px;}
.right_column li.connected{padding:0px 7px 10px 0px; margin-top:10px;display:inline}

.collapse{margin-right:20px;padding-bottom:5px; margin-left:815px;}
.expand{margin-right:20px;padding-bottom:5px; margin-left:815px; display:none;}


.find
{
	padding-left:15px;
	height:250px;
	width: 230px;
	float: left;
	}
.map
{
	padding:15px;
	padding-left: 0px;
}

li.diamond
{
	font-size:13px;
	font-family:san serif;
	color:#ECBD00;
	font-weight: bold;
}



.border_dot
{
border-bottom:1px dotted #189E81; padding-left:10px
}

.bottom_right
{
	width: 150px;
	float: left;
	background: #FFF8DF;
	border: 1px solid #ccc;
	padding-top: 0px;
	margin-top: 15px;
	margin-left: 15px;
	padding-bottom: 10px;
	display:none;
}
.right_column_box
{
	padding-left:0px;
	width: 210px;
	
	}
.right_column_box h6{margin-left:15px}
.right_column_box #blogpostsbox{margin-right:15px;}	
.right_column_image
{
	padding:15px;
	padding-left: 0px;
	margin: auto;
	padding-bottom: 0px;
	width: 200px;
	margin-top: 0px;
	font-size: 12px;
	padding-top: 5px;
}

.right_column_image .caption
{
	border-top:1px solid #ccc;
	padding-top:4px;
	font-size:12px;
	font-style:normal;
	margin-top: 3px;
}

.vert_border1
{
	float:left;
	border-left:2px solid #0057a5;
	margin-top:1px;
	height: 12px;
	width:4px;
	margin-left: 5px;
}

.vert_border2
{
	float:left;
	border-left:2px solid #189E81;
	height: 14px;
	width:10px;
}


.main_left
{
	width:320px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left:10px;
}
.chevron
{
color:	#ECBD00;

}
.main_left h6{margin-top:7px; margin-left:4px}
.main_left h3{margin-bottom:3px;}
.main_left p{margin-top:3px; margin-bottom:3px;}
.main_box
{
	float:none; width:275px; border:1px solid #ccc;margin-right:7px; margin-left:7px;margin-bottom:20px;overflow:hidden;height:200px;max-height:200px; min-height:200px;
	
}

.main_box:hover
{
border-right:1px solid #189E81; background:#FFF8DF
}

.main_box_inner{
	margin-right:15px;
	width:190px;
	height:310px;
	margin-left:4px;
}
.main_box_inner_list {margin-bottom:3px}
.main_box_inner_list_bullet {MARGIN-BOTTOM:3PX;list-style-type:disc; margin-left:5px}
.main_box2
{
	float:none; width:275px; border:1px solid #ccc;margin-right:7px; margin-left:7px;margin-bottom:20px;overflow:hidden;height:200px;max-height:200px; min-height:200px;
}
.main_box2:hover
{
border-right:1px solid #189E81; background:#FFF8DF;
	
}
.main_box_sm
{
	float:none; width:275px; border:1px solid #ccc;margin-right:7px; margin-left:7px;margin-bottom:0px;overflow:hidden;height:220px;max-height:160px; min-height:160px;
}


.main_box_sm:hover
{
	border-right:1px solid #189E81; background:#FFF8DF
}

.main_box_sm_inner{
	margin-right:0px;
	width:260px;
	margin-left:5px;
	margin-top:0px;
}
.main_box_inner_sm_list {padding-bottom:7px}
.main_box_sm2
{
float:none; width:275px; border:1px solid #ccc;margin-right:7px; margin-left:7px;margin-bottom:20px;overflow:hidden;height:200px;max-height:200px;min-height:200px;
}
.main_box_sm2:hover
{
border-right:1px solid #189E81; background:#FFF8DF;
}

#social_media
{
	background: #EBFAF7;
	margin-top: 0px;
	padding-top: 12px;
	padding-bottom: 3px;
	border-bottom: none;
	width:80px;
	margin-right:10px; 
	float:left;
	max-height:200px;
	
}
#social_media ul
{
	
	padding-left:0px;
}
#social_media ul li.off
{
	display:block;
	float:left;
	color:#0057a5;
padding:15px;
	
	
}

#social_media ul li.on, 
{
	display:block;
	font-weight: bold;
	padding:20px;
	border:none;
	border-top: none;
	background: #FFF8DF;
	z-index: 20;
	border:2px solid #0057a5;
	border-left:none;
	border-right:2px solid #FFF8DF;
	padding:0px;
	float:none;
	clear:both;
	padding:10px;
	height:auto;
	
	
	}

#social_media ul li.on a{
	color:#0057a5;
	
	font-size: 12px;
}




#container{height:250px; width:202px;margin:15px;margin-bottom:0px;}
#carousel{height:150px; width:202px; overflow:hidden}
#carousel ul{list-style-type:none; margin-top:4px; width:2000px; margin-left:0; left:0; padding-left:0px;margin:0px;}
#carousel li{display:inline; padding:0}
#carousel ul li img{width:160px; height:150px; border:1px #ccc solid; float:left;border:1px solid #ccc}
#navPrev{float:left; margin-left:70px; font-size:15px;}
#navNext{float:right; margin-right:70px;font-size:15px;}


#container2{height:165px; width:210px;margin:15px;margin-bottom:0px;}
#carousel2{height:166px; width:160px; overflow:hidden}
#carousel2 ul{list-style-type:none; margin-top:4px; width:5000px; margin-left:0; left:0; padding-left:1px;margin:0px;}
#carousel2 li{display:inline}
#carousel2 ul li img{width:160px; height:165px; border: 1px #ccc solid; float:left;border:1px solid #ccc}
#navPrev2{float:left; margin-left:70px; font-size:15px;}
#navNext2{float:right; margin-right:70px;font-size:15px;}


#container3, #container4{height:230px; width:265px;margin:0px; margin-bottom:0px;}
#carousel3, #carousel4{height:210px; width:265px; overflow:hidden; overflow-x:scroll;}
#carousel3 ul, #carousel4 ul {list-style-type:none; margin-top:4px; width:4725px; margin-left:0; left:0; padding:0px;margin:0px;}
.blogpostsbox ul{margin:0; padding:0px; overflow:hidden; overflow-x:hidden;}

#carousel3 li, #carousel4 li{display:inline; padding:5px;float:left; overflow:visible;margin:0;}
#carousel3 li img, #carousel4 li img{border:1px solid #ccc}
#carousel3 ul li div, #carousel4 ul li div{height:98px; width:125px; overflow:hidden}
#carousel3 ul li div div.teacher_info, #carousel4 ul li div div.teacher_Info{height:160px; width:202px; overflow:hidden}
#carousel3 ul li div img, #carousel4 ul li div img{ border:1px #ccc solid; border:1px solid #ccc}
#carousel3 ul li div.caption div.fan_quote, #carousel4 ul li div.faq_quote{width:180px; overflow:hidden;}	
#carousel3 ul li div.caption, #carousel4 ul li div.caption{width:150px; overflow:hidden;height:auto}	
#carousel3 .faq_quote_text, #carousel4 .faq_quote_text{width:180px; max-height:125px; overflow:visible;margin-bottom:5px;}
#carousel3 .faq_quote, #carousel4 .faq_quote{float:none;width:180px; margin-right:10px; max-height:125px; overflow:visible	;margin-bottom:5px;}

#quotesbox #carousel3 , #quotesbox #carousel4 { height: 310px;width:180px; overflow-x:scroll;}
#carousel3 ul li  div.fan_quote_text, #carousel4 ul li  div.fan_quote_text{height:auto; width:180px;}	
#quotesbox #carousel3 ul, #quotesbox #carousel4 ul {width:3600px;}

/*div.text{margin:15px;}*/
#navPrev3, #navPrev4{float:left; margin-left:45px; font-size:15px; display:none;}
#navNext3, #navNext4{float:right; margin-right:45px;font-size:15px; display:none;}


#carousel li:hover #text_container{opacity:1; }


#text_container{margin-left:15px;width:202px;overflow:hidden;}
#fl_title{width:202px;position:absolute;}
#fl_title a{color:#FFF8DF;}
#fl_title a:hover{text-decoration:none; color:#ECBD00}

.fl_title_ind{width:186px;padding:7px;background:#189E81; border:1px solid #FFF8DF; margin-top:-53px; color:#FFF8DF;display:none;opacity:.85 }

.social_media_icons{
	width:320px;
	margin:auto;
	margin-left:-5px;
}
/*************************Inner pages****************************************/

.main_top
{
	background: white;
	margin: 15px;
	width: 295px;
	
	padding-bottom:0px;
	
}
 .top-paragraph{width:280px;}


.map-image{display:none}
.profile_photo
{
	float:none;
	width:290px;
	margin-bottom:10px;
	overflow: hidden;
	
}
.profile_photo div {max-height: 225px;}
.profile_caption
{
	
	width:250px;
	margin-top:10px;
	display:none;
}
#profile_data
{
	float:none;
	width: 250px;
	padding:10px;
	padding-top:0px;
}
.main_inner_page
{
	width: 283px;
	background: #FFF8DF;
	margin: 18px;
	margin-top: 0px;
	border: 1px solid #ccc;
	
	}



#social_media_body
{
	color:#333333;
	min-height:200px;
	width:175px;
	float:left;
	border-bottom:none;
	max-height:360px;
	margin:10px 0 0 0;
	height:320px;
}

.tab_1{ width:190px; float:none;height:155px; /*overflow-y:auto; overflow-x:hidden; overflow-x:hidden;*/}
.tab_2{margin:0px;overflow:hidden;  margin-top:10px;max-width:160px;float:none;max-height:140px;}

#social_media_body ul li
{
	
	list-style-type:disc;
}

#social_media_body ul li ul li
{
	
	list-style-type:circle;
}

.cursor{cursor:pointer;}
.main{
	margin:0px;
	width: 320px;
	margin-top:10px;

}

.popup_holder{width:270px; margin:auto;}

#bigImg
{
	background:#fff;
	z-index:90000;
	padding:30px;
	position:absolute;
	display: none;
	margin-left:-25px;
	border: 1px solid #ccc;
	margin-top: 80px;
	margin-bottom:30px;
	max-width: 250px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;

	
	}

#bigImg2
{
	background:#fff;
	z-index:90001;
	padding:30px;
	position:absolute;
	display: none;
	margin-left:-25px;
	border: 1px solid #ccc;
	margin-top: 80px;
	margin-bottom:30px;
	max-width: 250px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;

	}

#bigImg3
{
	background:#fff;
	z-index:90002;
	padding:30px;
	position:absolute;
	display: none;
	margin-left:0px;
	border: 1px solid #ccc;
	margin-top: 130px;
	max-width: 260px;
	margin-top: 80px;
	margin-bottom:25px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;

	}

#bigImg a, #bigImg2 a, #bigImg3 a{font-size:12px; }
#bigImg li, #bigImg3 li, #bigImg3 li{margin-bottom:5px;}	

	
.popup_box{width:270px; margin: auto;}	

#alert_box{
	display:block;
	height:430px;
	background:#FFF8DF;
	width:270px;
	margin-top:20%;
	position:absolute;
	z-index:1000;
	border:2px solid #ccc;
}
#alert_box #alert_box_close{float:right;width:30px; margin:auto; margin-top:-10px;}
#alert_box .main_box_alert{
	box-shadow: 2px 2px 2px #ccc;
	width: 230px;
	margin:auto;
	MARGIN-TOP:4%;
	border:1px solid #189E81;
	height:400px;
	background:#EBFAF7;
}
#alert_box .text_box_alert{color:#189E81; font-weight:normal; float:left; margin-left:0px ;font-size:13px; margin:15px;width:210px}
#alert_box .text_box_alert h3{font-size: 12px;}
input.button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background:-webkit-gradient(linear, left top, left bottom, from(#189E81), to(#1DC19F));
	background: -moz-linear-gradient(top,  #189E81,  #1DC19F);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#189E81', endColorstr='#1DC19F'); 
	 -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#189E81', endColorstr='#1DC19F')
	border-color: #cccccc;
	border-radius: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 1px;
	color: white;
	cursor: pointer;
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 0px;
	margin-left: 25px;
	margin-right:10px;
	width:150px;
}
.shower{visibility:visible; max-height:420px;}
.hider{visibility:hidden; max-height:200px; }

.shower2{display:block; }
.hider2{display:none;}


li.highlights{
	list-style-type:disc;
	margin-bottom:5px;
	color:#0057a5;
	font-size: 15px;
}

.categories2012box, .categories2012box, .categories2011box
{
margin-top:10px;
margin-bottom:10px;
margin-right:10px;
margin-left:5px;

}



.categories2012box::-webkit-scrollbar, .categories2011box::-webkit-scrollbar {
    width: 1px;
}

.categories2012box::-webkit-scrollbar-track, .categories2011box::-webkit-scrollbar-track  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.categories2012box::-webkit-scrollbar-thumb .categories2011box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#questions ul li{list-style-type:disc; margin-left:15px; margin-right:15px; margin-bottom:5px;}
#answers{margin-top:15px;}
.questions{width:450px;}
div.answer{ background:#ffbf00; padding:5px; float:left; width:450px}
.right_column_faq{
	background:#FFF8DF;
	max-height:320px;
	width:280px;
	float:left;
	border:1px solid #ccc;
	overflow:hidden;
}
.right_column_faq ul{margin:0px; padding:0px; }
.right_column_faq ul li{margin:10px;}
.right_column_faq #social_media {
    min-height: 320px;
    width: 70px;
}

.main_no_tab
{
	width: 280px;
	margin-top: 0px;
	float: none;
	margin-right: 15px;
	margin-bottom:10px;
	}
#questions{width: 280px; float:left;}
#questions ul li a{font-size:13px;}

.main_text{float:left; width:650px;}
#search_tab{float:left; top:40%; position:absolute; cursor:pointer;}
#search_box{float:left;
	position:absolute;
	width:270px;
	z-index:89;
	background:#EBFAF7;
	top:37px;
	margin-left:42px;
	border:1px solid #ccc;
	display: none;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
} 
#search_box2{float:left;
	float:left;
	z-index:89;
	background:#EBFAF7;
	height:65px;
	border:1px solid #ccc;
	width:820px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	border-right:none;
} 

#search_box2_close
{
	float:left;width:30px; margin:auto; background:#EBFAF7;-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;height:65px;
	border:1px solid #ccc;
	border-left:none;	
}

.arrow, .arrow_open{
	margin-top:28px;
	border:none;
	margin-left:10px; 
	}

.search_holder{width:865px; position:fixed; bottom:10px;}

#BigPhoto #main_photo{
	float:left;
	width:500px;
	overflow:hidden;
 margin-right:20px;
}
#BigPhoto #photo_description{ }
#BigPhoto #photo_description p{margin:0px; padding:0px;}
#BigPhoto .text_box_photo
{
	background:#189E81;
	padding: 0px;
	border-top: 1px solid #FFF8DF;
	border-bottom: 1px solid #999;
	opacity: .95;
	width: 501px;
	margin-top:-40px;
	
	
	

}
#BigPhoto .text_box_photo p
{
	width: 500px;
	font-size: 12px;
	opacity: 1.0;
	color: white;
	padding: 5px;
	padding-bottom: 0px;
	margin-bottom: 3px;
	padding-left: 15px;
	margin-top:0px;
	
}
#others .photo{float:left; width:160px;margin-right:20px;}
.morephoto{float:left; width:160px;margin-right:20px;}

#others .desc{ }

#answers ul li{list-style-type:disc;}
#answers ul {margin:10px}



#dyk .photos{
	float:left;
	width:500px;
	overflow:hidden;
	border:1px solid #cccccc;
}
#dyk .photos img{border:none;}

#dyk .description{float:left; width:378px;margin-left:20px;}

.no-border{border:none;}

.padding10{padding-bottom:5px}

.chevron{padding-bottom:3px; color:#ECBD00; font-size:13px;}

.view_all{float:right; margin-right:15px; font-size:13px;}

.more{float:right; margin-right:15px;font-size:13px}

.photo_credit{font-size:10px;color:white; border-top:1px solid #ECBD00; padding-top:2px;margin-top:2px;}

#tweetsbox ul{padding-left:5px;}

#current .teacher_info{margin-top:10px;}

.outer_box{width:270px; float:left;overflow:hidden;margin-left:0px;}

.inner_box{width:260px; max-height:150px; overflow:hidden; margin:0px; border:1px solid #ccc}
.inner_box img{border:none;}
.inner_box_text{ width:260px; margin-top:7px; text-align:left;margin-left:0px;}

.feed_link{margin-right:15px;margin-top:8px; font-size:13px;}

#photoofweek .photo{max-height:150px; overflow:hidden; border:1px solid #CCC; width:260px; overflow:hidden; padding-bottom:0px; margin-bottom:3px;}
#photoofweek .text_box_photo{ width:260px; }
#photoofweek h3{ margin-top:7px; }
#photoofweek .text_box_photo p{ margin-top:2px; margin-bottom:2px; }
#photoofweek .text_box_photo p.photoinfo{ position:absolute;top:822px; margin-bottom:0px; width:250px;padding:5px; background:white;border:1px solid #ccc; opacity:.9; }

#photoofweek .photo img{border:none;}
#photoofweek p.text_box_photo{line-height:14px; margin-bottom:5px; }
a img .link{cursor:pointer; border:1px solid #ccc}
label{color:#0057a5;}
#bigImg #mcs4_container .customScrollBox .content p{color:black;}

.bottom_top_right{padding-bottom:10px;}

.footer_border{width:280px;margin-bottom:30px}




#footer_site_map_close{}
#footer_site_map{width:320px; margin-left:0px}
#footer .privacy_terms{width:300px; margin-left:10px;}
.form_search{width:50px}

#midNavElements li.mid_home{display:block;}
#midNavElements li.mid_faq{display:block;}
#midNavElements li.mid_how{display:block;}
#midNavElements li.mid_contact{display:block}
#midNavElements li.mid_numbers{display:none}
#midNavElements li.mid_past{display:block;}
#midNavElements li.mid_resources{display:block;}
#midNavElements li.mid_numbers{display:none}
#midNavElements li.mid_media{display:block;}
#midNavElements li.mid_alumni{display:block;}
#midNavElements li.mid_about{display:block;}
#midNavElements li.mid_current{display:block;}



#mainNavElements li#main_about{}
#mainNavElements li#main_current{}
#mainNavElements li#main_past{display:none;}
#mainNavElements li#main_alumni{display:block;}
#mainNavElements li#main_media{display:none;}
#mainNavElements li#main_resources{display:none;}

#mainNavElements .mainNavHolder{float:left; width:150px;}

#footer #footer_about{}
#footer #footer_seasons{border-right:none; padding-right:0px}
#footer #footer_alumni{}
#footer #footer_resources{border-right:none; padding-right:0px}

/**************************************************************ScrollBars//////////////////////////////////////////////////////////////////////*


@charset "utf-8";
/* CSS Document */

#blogpostsbox .blogtitles {padding-bottom:10px;}
#blogpostsbox .blogdesc {display:none;}
#photobox .blogphotos{ width:130px; max-height:112px; height:auto;  overflow:hidden;margin-left:0px;margin-bottom:10px;border:1px solid white;cursor:pointer }
#videosbox .blogvideos{ width:130px; height:98px; margin:10px; margin-left:0px; overflow:hidden;}
#newsbox ul{padding-left:0px;}
#shipinfobox {width:160px;}
/*#blogpostsbox{margin:10px; margin-left:0px;}
#photobox, #videosbox, #shipinfobox, #newsbox, #lessonsbox{margin:0px;margin-top:10px; margin-left:0px;}
*/

/* content block 2 */
#mcs1_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}


#mcs1_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs1_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs1_container .customScrollBox .content{clear:both;}

#mcs1_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs1_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}



#mcs1_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#000; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}
#mcs1_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs1_container .customScrollBox img{border:5px solid #fff;}
#mcs1_container .dragger_container{display:none;position:relative; width:9px; height:260px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs1_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs1_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}

#mcs5_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}


#mcs5_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs5_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs5_container .customScrollBox .content{clear:both;}

#mcs5_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs5_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}


#mcs5_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}
#mcs5_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs5_container .customScrollBox img{border:5px solid #fff;}
#mcs5_container .dragger_container{display:none;position:relative; width:9px; height:260px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs5_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs5_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}

#mcs6_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}

#mcs6_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs6_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs6_container .customScrollBox .content{clear:both;}

#mcs6_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs6_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}



/*#mcs6_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}*/
#mcs6_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs6_container .customScrollBox img{border:5px solid #fff;}
#mcs6_container .dragger_container{display:none;display:none;position:relative; width:9px; height:420px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs6_container .dragger{display:none;display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs6_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}


#mcs7_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}

#mcs7_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs7_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs7_container .customScrollBox .content{clear:both;}

#mcs7_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs7_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}
/*#mcs7_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}*/
#mcs7_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs7_container .customScrollBox img{border:5px solid #fff;}
#mcs7_container .dragger_container{display:none;position:relative; width:9px; height:260px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs7_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs7_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}


#mcs8_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}

#mcs8_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs8_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs8_container .customScrollBox .content{clear:both;}

#mcs8_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs8_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}



/*#mcs8_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}*/
#mcs8_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs8_container .customScrollBox img{border:5px solid #fff;}
#mcs8_container .dragger_container{display:none;position:relative; width:9px; height:260px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs8_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs8_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}



#mcs2_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:280px; /*height:200px;*/
	padding:0 10px;
	padding-top: 0px;
}
#mcs2_container .customScrollBox{height:auto;position:relative; height:180px; overflow:hidden;overflow-x:hidden;}
#mcs2_container .customScrollBox .container{position:relative; width:250px; top:0; float:left;}
#mcs2_container .customScrollBox .content{clear:both;}
#mcs2_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}
#mcs2_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs2_container .customScrollBox img{border:5px solid #fff;}
#mcs2_container .dragger_container{display:none;position:relative; width:9px; height:200px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs2_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs2_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}


#mcs3_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:620px; /*height:200px;*/
	padding-top: 0px;
	padding-bottom:15px;
}
#mcs3_container .customScrollBox{height:auto;position:relative; height:460px; overflow:hidden;}
#mcs3_container .customScrollBox .container{position:relative; width:600px; top:0; float:left;}
#mcs3_container .customScrollBox .content{clear:both;}
#mcs3_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}
#mcs3_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs3_container .customScrollBox img{border:5px solid #fff;}
#mcs3_container .dragger_container{display:none;position:relative; width:9px; height:420px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs3_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs3_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}





#mcs4_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:250px; /*height:200px;*/
	padding-top: 0px;
	padding-bottom:15px;
}
#mcs4_container .customScrollBox{height:auto;position:relative; height:460px;overflow-y:scroll; }
#mcs4_container .customScrollBox .container{position:relative; width:230px; top:0; float:left;}
#mcs4_container .customScrollBox .content{clear:both;}
#mcs4_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}
#mcs4_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs4_container .customScrollBox img{border:5px solid #fff;}
#mcs4_container .dragger_container{display:none;position:relative; width:9px; height:420px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs4_container .dragger{display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs4_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}


#mcs9_container{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	}

#mcs9_container .customScrollBox{position:relative; height:310px; overflow:hidden;}
#mcs9_container .customScrollBox .container{position:relative; width:165px; top:0; float:left;}
#mcs9_container .customScrollBox .content{clear:both;}
#mcs9_container .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}
#mcs9_container .customScrollBox_wk .container_wk{position:relative;height:320px;max-height:320px;overflow-y:auto; overflow-x:hidden; width:175px; top:0; float:left;}



/*#mcs6_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}*/
#mcs9_container .customScrollBox .content p.alt{padding:10px 5px; margin:10px 0; color:#fff; font-family:Georgia, "Times New Roman", Times, serif; font-size:17px; line-height:19px; color:#999;}
#mcs9_container .customScrollBox img{border:5px solid #fff;}
#mcs9_container .dragger_container{display:none;display:none;position:relative; width:9px; height:310px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs9_container .dragger{display:none;display:none;position:absolute; width:6px; height:60px; background:#999; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs9_container .dragger_pressed{position:absolute; width:6px; height:60px; background: #189E81; text-align:center; margin-left:1px; line-height:60px; color:#777; overflow:hidden;cursor:pointer;}


#mcs_container_dyk{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:180px; /*height:200px;*/
	padding-top: 0px;
	padding-bottom:15px;
}
#mcs_container_dyk .customScrollBox{height:auto;position:relative; height:460px; overflow:hidden;}
#mcs_container_dyk .customScrollBox .container{position:relative; width:200px; top:0; float:left;}
#mcs_container_dyk .customScrollBox .content{clear:both;}
#mcs_container_dyk .customScrollBox img{border:5px solid #fff;}
#mcs_container_dyk .dragger_container{display:none;position:relative; width:9px; height:420px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs_container_dyk .dragger{display:none;position:absolute; width:6px; height:60px; background:blue; text-align:center; margin-left:1px; line-height:60px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}
#mcs_container_dyk .dragger_pressed{background: #189E81; color:#777}
.class_page_image{float:left; width:75px; height:75px; overflow:hidden; margin-right:15px;margin-bottom:15px}
.class_page_text{float:left;width: 180px;}
.class_page_text a{font-size:13px;}



#mcs_container_id0, #mcs_container_id1, #mcs_container_id2, #mcs_container_id3, #mcs_container_id4, #mcs_container_id5, #mcs_container_id6, #mcs_container_id7, #mcs_container_id8, #mcs_container_id9{/*position:absolute; left:340px; top:20px;*/
	margin:0;
	width:195px; /*height:200px;*/
	padding-top: 0px;
	}

#mcs_container_id0 .customScrollBox, #mcs_container_id1 .customScrollBox,  #mcs_container_id2 .customScrollBox, #mcs_container_id3 .customScrollBox, #mcs_container_id4 .customScrollBox, #mcs_container_id5 .customScrollBox, #mcs_container_id6 .customScrollBox, #mcs_container_id7 .customScrollBox, #mcs_container_id8 .customScrollBox, #mcs_container_id9 .customScrollBox{position:relative; height:160px; overflow:hidden;}

#mcs_container_id0 .customScrollBox .container, #mcs_container_id1 .customScrollBox .container, #mcs_container_id2 .customScrollBox .container, #mcs_container_id3 .customScrollBox .container, #mcs_container_id4 .customScrollBox .container, #mcs_container_id5 .customScrollBox .container, #mcs_container_id6 .customScrollBox .container, #mcs_container_id7 .customScrollBox .container, #mcs_container_id8 .customScrollBox .container, #mcs_container_id9 .customScrollBox .container{position:relative; width:160px; top:0; float:left;}

#mcs_container_id0 .customScrollBox .content, #mcs_container_id1 .customScrollBox .content, #mcs_container_id2 .customScrollBox .content, #mcs_container_id3 .customScrollBox .content, #mcs_container_id4 .customScrollBox .content, #mcs_container_id5 .customScrollBox .content, #mcs_container_id6 .customScrollBox .content, #mcs_container_id7 .customScrollBox .content, #mcs_container_id8 .customScrollBox .content, #mcs_container_id9 .customScrollBox .content{clear:both; margin-top:5px;}




#mcs_container_id0 .customScrollBox_wk,#mcs_container_id1 .customScrollBox_wk,#mcs_container_id2 .customScrollBox_wk, #mcs_container_id3 .customScrollBox_wk,#mcs_container_id4 .customScrollBox_wk, #mcs_container_id5 .customScrollBox_wk, #mcs_container_id6 .customScrollBox_wk, #mcs_container_id7 .customScrollBox_wk, #mcs_container_id8 .customScrollBox_wk, #mcs_container_id9 .customScrollBox_wk{height:auto;position:relative;  padding-right:10px;}

#mcs_container_id0 .customScrollBox_wk .content, #mcs_container_id1 .customScrollBox_wk .content, #mcs_container_id2 .customScrollBox_wk .content, #mcs_container_id3 .customScrollBox_wk .content, #mcs_container_id4 .customScrollBox_wk .content, #mcs_container_id5 .customScrollBox_wk .content, #mcs_container_id6 .customScrollBox_wk .content, #mcs_container_id7 .customScrollBox_wk .content, #mcs_container_id8 .customScrollBox_wk .content, #mcs_container_id9 .customScrollBox_wk .content{clear:both; width:162px; margin-top:5px;overflow-x:hidden}



#mcs_container_id0 .customScrollBox_wk .container_wk, #mcs_container_id1 .customScrollBox_wk .container_wk, #mcs_container_id2 .customScrollBox_wk .container_wk, #mcs_container_id3 .customScrollBox_wk .container_wk, #mcs_container_id4 .customScrollBox_wk .container_wk, #mcs_container_id5 .customScrollBox_wk .container_wk, #mcs_container_id6 .customScrollBox_wk .container_wk, #mcs_container_id7 .customScrollBox_wk .container_wk, #mcs_container_id8 .customScrollBox_wk .container_wk, #mcs_container_id9 .customScrollBox_wk .container_wk{position:relative;height:145px;max-height:145px;overflow-y:auto; overflow-x:hidden; width:175px; margin-top:5px;top:0; float:left;}



/*#mcs6_container .customScrollBox .content p{padding:10px 5px; margin:10px 0; color:#fff; font-family: Arial, Helvetica, Tahoma; font-size:13px; line-height:20px;}*/
#mcs_container_id0 .customScrollBox .content p, #mcs_container_id1 .customScrollBox .content p, #mcs_container_id2 .customScrollBox .content p, #mcs_container_id3 .customScrollBox .content p, #mcs_container_id4 .customScrollBox .content p, #mcs_container_id5 .customScrollBox .content p, #mcs_container_id6 .customScrollBox .content p, #mcs_container_id7 .customScrollBox .content p, #mcs_container_id8 .customScrollBox .content p, #mcs_container_id9 .customScrollBox .content p{font-size:12px;}

#mcs_container_id0 .dragger_container, #mcs_container_id1 .dragger_container, #mcs_container_id2 .dragger_container, #mcs_container_id3 .dragger_container, #mcs_container_id4 .dragger_container, #mcs_container_id5 .dragger_container, #mcs_container_id6 .dragger_container, #mcs_container_id7 .dragger_container, #mcs_container_id8 .dragger_container,#mcs_container_id9 .dragger_container{display:none;display:none;position:relative; width:12px; height:135px; float:left; margin:10px 0 0 0px; cursor:pointer; box-shadow:inset 0 0 10px #ccc; -moz-box-shadow:inset 0 0 10px #ccc; -webkit-box-shadow:inset 0 0 10px #ccc;}
#mcs_container_id0 .dragger{display:none;display:none;position:absolute; width:8px; height:15px; background:none; text-align:center; margin-left:1px; line-height:15px; color:#666; overflow:hidden; border-left:1px solid #999; border-right:1px solid #999; cursor:pointer;}

#mcs_container_id0 .dragger_pressed, #mcs_container_id1 .dragger_pressed, #mcs_container_id2 .dragger_pressed, #mcs_container_id3 .dragger_pressed, #mcs_container_id4 .dragger_pressed, #mcs_container_id5 .dragger_pressed, #mcs_container_id6 .dragger_pressed, #mcs_container_id7 .dragger_pressed, #mcs_container_id8 .dragger_pressed, #mcs_container_id9 .dragger_pressed {position:absolute; width:9px; height:30px; background: #189E81; text-align:center; margin-left:1px; line-height:30px; color:#777; overflow:hidden;cursor:pointer;}






}